table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 5px 20px;
  text-align: left;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th:last-child,
td:last-child {
  text-align: right;
}

.pagination {
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: 10px;

    &.disabled {
      a {
        color: #a0aec0;
      }
    }

    a {
      border-radius: 0.25rem;
      font-weight: 600;
      height: 2rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 0.875rem;
      line-height: 1.2;
    }
  }
}
