.posts {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  &__filters {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
