.header {
  border-bottom-width: 1px;
  height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__avatar {
    margin-left: auto;
    margin-right: 15px;
  }

  &__logo {
    display: inline-block;
    height: 100%;
    img {
      height: 100%;
    }
  }
}
