.navigation {
  position: fixed;
  border-right-width: 1px;
  width: 300px;
  height: calc(100vh - 70px);
  padding: 10px 20px;

  &__nav {
    &__item {
      display: block;
      font-size: 14px;
      font-weight: 700;
      padding: 0.25rem 0.5rem;
      margin-bottom: 5px;

      &.active {
        color: rgb(35, 78, 82);
        background-color: rgb(230, 255, 250);
      }
    }
  }
}

.dark-mode {
  .navigation__nav__item.active {
    background-color: rgba(48, 140, 122, 0.3);
    color: rgb(129, 230, 217);
  }
}
